<%= form_with(model: stance, local: true) do |form| %>
  <% if stance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stance.errors.count, "error") %> prohibited this stance from being saved:</h2>

      <ul>
        <% stance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_area :desc %>
  </div>

	<% if @stance.character_id %>
	    <div class="field">
	  	  <%= form.select :character_id, options_from_collection_for_select(Character.all, 'id', 'name', @stance.character_id) %>
	    </div>
	<% else %>
	    <div class="field">
	  	  <%= form.select :character_id, options_from_collection_for_select(Character.all, 'id', 'name', params[:char_id]) %>
	    </div>
	<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
